* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.btn-filter-category {
    width: 80px;
    height: 20px;
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    background: #FAFAFA;
    box-shadow: 0px 2px 11px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 0;
    color: #000000;
    cursor: pointer;
}