* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-modal {
    position: absolute;
    top: 1px;
    height: 1024px;
    width: 100%;
    background-color: rgba(3, 3, 3, 0.5);
}

.modal {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 612px;
    height: 880px;
    position: absolute;
    left: 416px;
    top: 78px;
    border-radius: 20px;

}

.modal-body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    padding: 61px 64px 48px;

}

.modal-header {
    width: 100%;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.modal-title {
    font-family: 'Rubik';
    font-weight: 700;
    font-size: 36px;
    color: #000000;
    margin: 0;

}

.close {
    margin-top: 4px;
    width: 26px;
    height: 26px;
    cursor: pointer;
}

.modal-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.modal-button-entrada {
    width: 245px;
    height: 60px;
    background-color: #B9B9B9;
}

.modal-button-blue {
    width: 245px;
    height: 60px;
    background-color: #7978D9;
}

.modal-button-saida {
    width: 245px;
    height: 60px;
    background-color: #B9B9B9;
}

.modal-button-red {
    width: 245px;
    height: 60px;
    background-color: #FF576B;
}

.form-modal-categoria {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.form-input-categoria {
    width: 484px;
    height: 64px;
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    margin-top: 8px;
    margin-bottom: 26px;
}

.form-label-categoria {
    width: 112px;
    height: 32px;
    font-family: 'Rubik';
    font-weight: 500;
    font-size: 24px;
    color: #484848;
}

.select-categoria {
    width: 484px;
    height: 64px;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #484848;
    margin-top: 8px;
    margin-bottom: 26px;
    border-radius: 5px;
}

.modal-button-confirmar {
    width: 246px;
    height: 46px;
    background-color: #7978D9;

}